.LoginForm{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 10px 0px 10px 0px;
}

.LoginInput{
    width: 100%;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
    border-radius: 10px;
    margin: 10px 0px;
    padding: 10px;
}

.LoginInput > input{
    width: 100%;
    padding: 10px;
    border: none;
    border-bottom: 1px solid grey;
}

.LoginInput > input:focus{
    outline: none;
}

.LoginForm > button{
    width: 250px;
    margin: 20px auto;
    height: 40px;
}